/*
*
* (C) obook 2020-2024
*
*/

pre {
  text-shadow:none;
  font-weight:normal;
  font-family: Consolas,monospace;
  display: block;
  padding: 6px;
  color: rgb(0, 0, 0);
  background:#cccccc;
  border-radius: 6px;
  font-family: "courier new", courier, monospace;
 }

#id_numero {
  /*width: 20%; */
 }

.class_sample {
  background-color: #444444 !important;
 }

 #id_question {
  background-color: #444444;
}

 .class_answer {
  background-color: #444444 !important;
 }

 #id_feedback {
  background-color: #444444 !important;
 }

 #id_preview {
  text-shadow:none;
  font-weight:normal;
  padding: 10px;
  margin: 9px;
  border-radius: 4px;
 }

 #id_code {
  text-shadow:none;
  font-weight:normal;
  padding: 10px;
  margin: 9px;
  border-radius: 4px;
 }
/*
 #id_code {
  text-shadow:none;
  font-weight:normal;
  background: #000000;
  border-radius: 4px;
 }
*/
 #id_code pre{
  text-shadow:none;
  font-weight:normal;
  color: #ffffff;
  background: #000000;
  padding: 0px;
  margin: 09px;
  border-radius: 4px;
  overflow: auto;
 }
