/*
*
* (C) obook 2020-2024
*
*/

pre {
  text-shadow:none;
  font-weight:normal;
  font-family: Consolas,monospace;
  display: block;
  padding: 6px;
  color: rgb(0, 0, 0);
  background:#cccccc;
  border-radius: 6px;
  font-family: "courier new", courier, monospace;
  font-size: 0.6vw;
 }

 .number {
  width: 100px !important;
 }

 #id_result {
  text-shadow:none !important;
  background: rgba(12, 12, 12, 0.562) !important;
  color:#e6e6e6 !important;
 }

 #id_apercu {
  text-shadow:none;
  font-weight:normal;
  font-size:0.7vw;
  padding: 10px;
  margin:10px;
  border-radius: 4px;
 }

 #id_question {
    background-color: #444444;
 }
